/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.topics p,li {
  font-size: 16px;
  font-family: "Fira Sans";
}

h2.tutorialTitle {
  font-size: 72px;
  text-align: center;
  background: -webkit-linear-gradient(#E32D5B, #812CE5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}